.calcForm {
    max-width: 530px;
    min-height: 400px;
    width: 95%;
    margin: 30px auto;
    text-align: center;
    border: 8px solid hsl(34, 100%, 15%);
    border-radius: 30px;
    box-shadow: 0 0 30px hsl(34, 100%, 15%);
}

.calcForm__form {
    display: grid;
    grid-template-areas: "a1 t1" "em bt" "a2 t2";
    grid-template-columns: 1fr auto;
    grid-gap: 5px 30px;
    justify-items: center;
    align-content: flex-start;
    padding: 50px 30px;
}

.calcForm__value {
    margin: 2px;
    border-radius: 8px;
    border: 4px solid hsl(34, 43%, 37%);
    text-align: center;
    height: 50px;
    padding: 6px 10px;
}

.calcForm__value--amount {
    width: 100%;
    min-width: 250px;
}

.calcForm__value--amount1 {
    grid-area: a1;
}

.calcForm__value--amount2 {
    grid-area: a2;
}

.calcForm__value--type {
    width: 110px;
}

.calcForm__value--type1 {
    grid-area: t1;
}

.calcForm__value--type2 {
    grid-area: t2;
}

.empty {
    grid-area: em;
}

.calcForm__button {
    border: none;
    padding: 5px;
    outline: none;
    background: none;
    background-image: url(../images/switchgreen.jpg);
    background-repeat: round;
    --buttonWidth: 30px;
    width: var(--buttonWidth);
    height: calc(1.53*var(--buttonWidth));
    grid-area: bt;
}

.calcForm__button:hover {
    background-image: url(../images/switchyellow.jpg);
}

.calcForm__button:active {
    background-image: url(../images/switchred.jpg);
}

.calcForm__textResult {
    margin-top: 30px;
    font-size: 120%;
    color: hsl(34, 100%, 10%);
}